header {
  text-align: center;
  background-size: cover;
  background: linear-gradient( 0deg, rgb(2,52,132) 0%, rgb(34,193,195) 100%);
}

h1 {
  text-align: center;
  font-size:5em;
<!-- Couldn't find a nice supported font family yet-->
}

a {
    color: black;
}

ul {
  padding: 10px;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

li:hover {
  font-size: 1.5em;
  transition: 0.6s ease;
}


h2 {
  color: black
}

p {
  color: black
}


body {
  text-align: center;
  font-family: helvetica;
}
