h1 {
  text-align: center;
  font-size:5em;
<!-- Couldn't find a nice supported font family yet-->

}

a {
    color: black;

  }

ul {
  padding: 10px;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

li:hover {
  font-size: 1.5em;
  transition: 0.6s ease;
}


h2 {
  color: black
}

p {
  color: black
}

img.card-img-top {
  object-fit: cover
  width: 18rem;
  height: 50%;
}

body {
  text-align: center;
  font-family: inconsolata;
}

#footer_signup {
  background-color: rgb(52, 59, 71);
}

#subscribe {
  left: 100px;
  top: 150;
  width: 200px;
  height: 50px;
  padding: 10px;
}

.fa {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 40px;
  line-height: center;
  padding: 5px 0;
  margin-bottom: 100px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: rgb(59,89,152);
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  color: white;
}
