body  {
  font-family: inconsolata;
  color: rgb(0,0,0)
  }
h1 {
          font-size: 3em;
          font-family: helvetica-neue;
          text-align: left;
          margin: 0px;
          padding: 0px;
          margin-left: 2px;
}

p {
          font-family: helvetica-neue;
          width: 80%;
          margin: 10vh 10vw;
          font-size:1.5em;
          text-align: center;
          margin: 0px;
          padding: 0px;

}

img {
width:"800px"
align: "center"
}
